/**
 * JSL (Jinetes del Software Libre) theme
 * Author: Juan Matias Kungfu de la Camara Beovide <juanmatias@gmail.com>
 *
 * Based on theme from 3XM Group
 *
 */
@import url(../node_modules/reveal.js/css/theme/3xm.css);

/*********************************************
 * Code color
 *********************************************/
.reveal code {
    color: #557744;
}

/*********************************************
 * LOGO
 *********************************************/
body:after {
content: url(images/jinetes-01-riders_200.png);
position: fixed;
bottom: 0em;
left: 0em;
#box-shadow: 0.5px 0px 1px #000; 
}

/*********************************************
 * COLUMNS
 *********************************************/
#left {
	margin: 10px 0 15px 20px;
	text-align: left;
	float: left;
	z-index:-10;
	width:48%;
	font-size: 0.85em;
	line-height: 1.5; 
}

#right {
	margin: 10px 0 15px 0;
	float: right;
	text-align: left;
	z-index:-10;
	width:48%;
	font-size: 0.85em;
	line-height: 1.5; 
}
